{% extends 'base.html' %}

{% block title %} Forget Password{% endblock %}


{% block head %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome-all.min.css') }}">
    <style>
        .error-message {
            color: red;
        }
    </style>
{% endblock %}

{% block content %}
    <body class="bg-gradient-primary">
        <div class="container">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-5 d-none d-lg-flex">
                            <div class="flex-grow-1 bg-register-image" style="background-image: url('/static/assets/img/machineregister/forgetpassword.jpg'); background-size: cover;"></div>
                        </div>
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                        <h4 class="text-dark mb-4">Forgot Your Password?</h4>
                                        <p class="mb-4">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
                                    </div>
                                </div>
                                <form action="{{ url_for('auth_routes.forget_password') }}" method="POST" class="user">
                                    {{ form.csrf_token }}

                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user" id="{{ form.email_address.id }}" name="{{ form.email_address.name }}" placeholder="Email Address" required>
                                        {% for error in form.email_address.errors %}
                                            <small class="error-message">{{ error }}</small>
                                        {% endfor %}
                                    </div>

                                    <button class="btn btn-primary btn-user btn-block" type="submit">Reset Password</button>
                                </form>

                                <div class="text-center mt-4">
                                    <a class="small" href="{{ url_for('auth_routes.signup') }}">Create an Account!</a>
                                </div>
                                <div class="text-center mt-2">
                                    <a class="small" href="{{ url_for('auth_routes.login') }}">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/bs-init.js') }}"></script>
        <script src="{{ url_for('static', filename='/assets/js/theme.js') }}"></script>
    </body>
{% endblock %}
