{% extends 'base.html' %}

{% block title %} Reset Password {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/fonts/fontawesome-all.min.css') }}">
<style>
    .error-message {
        color: red;
    }
</style>
{% endblock %}

{% block content %}
<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-register-image" style="background-image: url('/static/assets/img/machineregister/resetpassword.jpg');"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Reset Your Password</h4>
                                    </div>
                                    <form action="{{ url_for('auth_routes.reset_password', token=token) }}" method="POST" class="user">
                                        {{ form.csrf_token }}
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" id="{{ form.password.id }}" name="{{ form.password.name }}" placeholder="New Password" required>
                                            {% for error in form.password.errors %}
                                                <small class="error-message">{{ error }}</small>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" id="{{ form.confirm.id }}" name="{{ form.confirm.name }}" placeholder="Confirm New Password" required>
                                        </div>
                                        <button class="btn btn-primary btn-user btn-block" type="submit">Reset Password</button>
                                    </form>
                                    <hr>
                                    <div class="text-center mt-4">
                                        <a class="small" href="{{ url_for('auth_routes.login') }}">Back to Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='/assets/js/theme.js') }}"></script>
</body>
{% endblock %}
